.bgTable{
    background-color: #5595d6 !important;
}
#divImagen{
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.txtImagenSabor{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#divImagenModal{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.texto{
    text-align: center;
}